body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -70%);
  border: 2px solid rgb(104, 57, 222);
  padding: 20px;
  box-shadow: 4px 4px 5px 5px rgb(104, 57, 222);
  background-color: rgb(104, 57, 222);
  background-image: url("img/digit-numbers.avif");
  backdrop-filter: blur(5px);
}
body:hover {
  border-radius: 90px 195px 0px 55px;
  transition: border-radius 2s;
}
body::after {
  border-radius: 0px 0px 0px 0px;
  transition: border-radius 2s;
}
li {
  list-style: none;
}
h1,
p,
h2,
h3 {
  color: white;
  text-shadow: 0 0 10px rgb(63, 39, 109), 0 0 20px rgb(63, 39, 109),
    0 0 40px rgb(63, 39, 109);
}
p {
  font-size: 20px;
}
.digits {
  padding-left: 10px;
  background-color: aliceblue;
  color: rgb(14, 15, 15);
  border: 1px solid rgb(104, 57, 222);
  outline: none;
  height: 35px;
}
.addButton,
.clear {
  width: 80px;
  height: 35px;
  color: rgb(12, 12, 12);
  background-color: aliceblue;
  border: none;
}
.arrayDigits,
.arrSum {
  color: aliceblue;
}
.arrSum {
  margin-top: 10px;
}
.checkSum {
  width: 165px;
  height: 35px;
  color: rgb(12, 12, 12);
  background-color: aliceblue;
  border: none;
}
