* {
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333333;
}
.section {
	padding: 30px 10%;
}
.header {
	margin-top: 80px;
	font-size: 24px;
 text-align: center;
}
.header span {
	display: block;
	font-weight: 400;
}
.header strong {
	font-weight: 900;
	text-transform: uppercase;
}
.main {
	text-align: center;
 margin-top: 80px;
}
.video, .form {
display: inline-block;
vertical-align: top;
}
.form {
	padding: 20px;
	margin-bottom: 30px;
	text-align: center;
	border :solid 5px #2727d9;
	margin-left:  30px;
}
.form-header {
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}
.form input {
	font-size: 18px;
	padding: 20px;
	border: solid 1px black;
	margin-top: 11px;
	display: block;
	width: 300px;
	}
	.btn	{
		display: block;
		background-color:#3c3cdd;
		border: none;
		color: white;
		width: 300px;
		height: 60px;
		margin: 11px auto;
		font-size: 18px;
		font-weight: 900;
	}
	.col {
		display: inline-block;
		text-align: center;
		margin: 10px 30px;
	}
	.feature-header {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 24px;
		text-align: center;
	}
	.feature {
		text-align: center;
		margin :60px auto;
		
	}