a{
	width: 80px;
	text-decoration: none;
display: block;

}
a::before{
	transform-origin: 100%;
	transition: all 0.2s;
	text-align: center;
	height: 1px;
	content:'';
	display: block;
	width: 100%;
	background-color: red;
	transform: scaleX(0);
}
a::after{
	transform-origin: 0%;
	transition: all 0.2s;
	text-align: center;
	height: 1px;
	content:'';
	display: block;
	width: 100%;
	background-color: red;
	transform: scaleX(0);
}
a:hover::before{
	transform: scaleX(1);
}
a:hover::after{
	transform: scaleX(1);
}