
* {
  box-sizing: border-box;

}
body {
  font-family: Jost;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  height: 39px;
  width: 100%;
  border-bottom: 1px solid #ecf3ff;
  margin-bottom: 100px;
  margin-right: 13px;
}
.navbar-header-link {
  display: none;
  text-decoration: none;
  font-family: Jost;
  font-size: 30px;
  font-weight: 700;
  line-height: 43.35px;
  color:#282739;
  margin-left: 165px;
}
.phone-icon {
 display: none;
}
.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  padding-left:50px;
  margin-left:347px;
  gap:30px;
}
.header-nav-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  text-align: left;
  text-decoration: none;
  color:#5d6c7b;
}
.social-links {
 text-decoration: none;
 display: flex;
 gap: 30px;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-right: 396px;
  margin-top: 5px;
}
.header-phone-link {
  color: #282739;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.34px;
}
.header-phone-icon {
  display: none;
}
.chat-img {
  margin-left: 1px;
  margin-top: 6px;
}
.chat-img2 {
  margin-left: -22px;
  margin-top: 5px;
}
.chat-img3 {
  margin-left: -31px;
  margin-top: 5px;
}
.search-catalog {
  padding-top: 60px;
  margin-top: -30px;
}
.catalog-header-link {
  text-decoration: none;
  font-family: Jost;
  font-size: 30px;
  font-weight: 700;
  line-height: 43.35px;
  color:#282739;
  margin-left: 165px;
}
.catalog-wrapper{
  margin-top: -56px;
  margin-left: 316px;
}
.catalog-button {
  color: #fff;
  width: 114px;
  height: 40px;
  border-radius: 5px;
  border: 1.5px solid #6F73EE;
  background: #6F73EE;
  cursor: pointer;
}
.button-text {
  margin-top: -10px;
  margin-left: 23px;
}
.img-line {
  display: inline-block;
}
.line1 {
  position: absolute;
  margin-top: -3px;
  margin-left: -42px;
}
.line2 {
  position: absolute;
  margin-top: 2px;
  margin-left: -42px;
}
.line3 {
  position: absolute;
  margin-top: 7px;
  margin-left: -36px;
}
.box {
  display: inline-block;
  max-width: 630px;
  width: 100%;
}
.box .search-box {
  position: relative;
  height: 40px;
  max-width: 630px;
  margin: auto;
}
.search-box input {
  position: absolute;
  padding-left: 20px;
  width: 603px;
  height: 40px;
  border: 1.5px solid #6F73EE;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  margin-top: 15px;
  margin-left: 15px;
}
.search-box .search-icon {
  position: absolute;
  right: 8px;
  top: 15px;
  width: 40px;
  height: 40px;
  background-color: #6F73EE;
  text-align: center;
  line-height: 40px;
  border-radius:0 5px 5px 0 ;
  cursor: pointer;
}
.search-svg {
  margin-top: 12px;
}
.shops{
  display: flex;
  justify-content: flex-end;
  margin-top: -55px;
  margin-right: 180px;
}
.shop-icons {
  position: relative;
  text-decoration: none;
}
.shop1  {
  position: absolute;
  margin-top: 29px; 
  margin-left: 30px;
}
.shop2  {
  position: absolute;
  margin-top: 25px; 
  margin-left: 75px;
}
.shop3  {
  position: absolute;
  margin-top: 25px; 
  margin-left: 121px;
}
.trolley-text {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.23px;
  color:#282739;
  margin-left: 150px;
  margin-top: 25px;	
}
.test-drive-image {
  margin-top: 50px;
  margin-left: 169px;
  height: 445px;
  max-width: 1380px;
  background:url(../img/young-woman.png) center no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}
.test-drive-image::after {
  content:'';
  position: absolute;
  top: 0;
  left: -140px;
  height: 445px;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%);
  border-radius: 10px;
}
.map-icon {
  position: absolute;
  top: 57px;
  left: -4px;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.address {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.34px;
  top: 57px;
  left: 19px;
  bottom: 0;
  right: 0;
  z-index: 3;
  color: #fff;
}
.open-text {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  top: 45px;
  left: 220px;
  bottom: 0;
  right: 0;
  z-index: 3;
  color: #fff;
}
.test-drive-title {
  position: absolute;
  font-size: 35px;
  font-weight: 600;
  line-height: 70%;
  top: 84px;
  left: -3px;
  bottom: 0;
  right: 0;
  z-index: 3;
  color: #fff;
}
.test-drive-text {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  top: 182px;
  left: -3px;
  bottom: 0;
  right: 0;
  z-index: 3;
  color: #fff;
}
.type {
  position: relative;
  z-index: 3;
  width: 40px;
  height: 40px;
  top: 258px;
  left: -2px;
  border-radius: 5px;
  opacity:20%;
  background-color: #fff;
}
.type-icon {
  position: absolute;
  top: 270px;
  bottom: 0;
  right: 0;
  left: 10px;
  z-index: 3;
}
.icon-text {
  position: absolute;
  z-index: 3;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  top: 247px;
  bottom: 0;
  left: 54px;
  right: 0;
  word-spacing: 2px;
}
.type2 {
  position: relative;
  z-index: 3;
  width: 40px;
  height: 40px;
  top: 218px;
  left: 237px;
  border-radius: 5px;
  opacity:20%;
  background-color: #fff;
}
.type-icon2 {
  position: absolute;
  top: 270px;
  bottom: 0;
  right: 0;
  left: 249px;
  z-index: 3;
}
.icon-text2 {
  position: absolute;
  z-index: 3;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  top: 247px;
  bottom: 0;
  left: 293px;
  right: 0;
  word-spacing: 2px;
}
.test-drive-button {
  position: absolute;
  z-index: 3;
  width: 159px;
  height: 53px;
  top: 336px;
  left: -3px;
  border: 1.3px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.test-button-text {
  position: absolute;
  z-index: 3;
  top: -2px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  color: #6F73EE;
}

.scooter-type {
  margin-top: 102px;
  color: #282739;
}
.scooter-type-title {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  line-height: 50.58px;
  margin-left: 164px;
}
.scooter-type-subtitle {
  font-size: 19px;
  font-weight: 400;
  line-height: 23.8px;
  margin-top: 30px;
  margin-left: 163px;
}
.scooter-type-img {
  float: right;
  margin-top: -30px;
  margin-right: 30px;
}
.help-list {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.01px;
  margin-top: 9px;
  margin-left: 156px;
}
.check-icon {
  position: absolute;
  margin-top: 1px;
  margin-left: -31px;
}
.scooter-safety {
  margin-top: 150px;
}
.scooter-safety-img {
  margin-top: -14px;
  margin-left: 30px;
}
.scooter-safety-title {
  display: block;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  line-height: 50.58px;
  margin-left: 640px;
  margin-top: -437px;
}
.scooter-safety-subtitle {
  display: flex;
  font-size: 19px;
  font-weight: 400;
  line-height: 23.8px;
  margin-top: 30px;
  margin-left: 174px;
  justify-content: space-around;
  letter-spacing: -0.1px;
}
.safety-list {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.01px;
  margin-top: 10px;
  margin-left: 633px;
}
.available-scooters {
  margin-top: 150px;
}
.available-scooters-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  line-height: 50.58px;
  margin-top: -10px;
}
.scooter-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 165px;
  margin-top: 50px;
}
.card {
  margin-right: 30px;
  display: inline-block;
  border: 1.5px solid #EAEBED;
  width: 255px;
  height: 492px;
  border-radius: 10px;
}
.card-image {
  border-radius: 10px;
  width: 255px;
  object-fit:cover ;
}
.product {
  position: absolute;
  z-index: 2;
  margin-top: -227px;
  margin-left: 9px;
  width: 41px;
  height: 25px;
  border-radius:5px;
  background: #EE685F;
}
.product-text {
  font-size: 12px;
  text-align: center;
  margin-top: 6px;
  margin-left: 3px;
  color: #fff;
}
.product-text3 {
  font-size: 12px;
  text-align: center;
  margin-top: 7px;
  margin-left: -1px;
  color: #fff;
}
.product2 {
  position: absolute;
  z-index: 2;
  margin-top: -227px;
  margin-left: 9px;
  width: 63px;
  height: 25px;	
  border-radius:5px;
  background: #75D14A;
}
.product-text2 {
  font-size: 13px;
  text-align: center;
  margin-top: 6px;
  margin-left: 1px;
  color: #fff;
}
.product-text4 {
  font-size: 13px;
  text-align: center;
  margin-top: 6px;
  margin-left: -1px;
  color: #fff;
}
.card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 26.01px;
  color: #282739;
  margin-top: 14px;
  margin-left: 25px;
}
.card-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 0px;
}
.card-elipse {
  position: absolute;
  z-index: 2;
  float: right;
  margin-top: -226px;
  margin-left: 211px;
  width: 35px;
  height: 35px;
  border: 1.3px solid #FFFFFF33;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  background: #FFFFFF33;
}
.card-list {
  list-style: none;
  columns: 2 auto;
}
.card-list-icon1 {
  margin-top: 2px;
  margin-left: -15px;
}
.card-list-text1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #5D6C7B;
  margin-top: -22px;
  margin-left: 13px;
}
.card-list-icon2 {
  margin-top: 3px;
  margin-left: -15px;
}
.card-list-text2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #5D6C7B;
  margin-top: -22px;
  margin-left: 14px;
}
.card-list-icon3 {
  margin-top: 2px;
  margin-left: -12px;
}
.card-list-text3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #5D6C7B;
  margin-top: -22px;
  margin-left: 16px;
}
.card-list-icon4 {
  margin-top: 3px;
  margin-left: -12px;
}
.card-list-text4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #5D6C7B;
  margin-top: -22px;
  margin-left: 15px;
  letter-spacing: 0.4px;
}
.old-price {
  font-size: 12px;
  font-weight: 500;
  line-height: 17.34px;
  color: #5D6C7B;
  text-decoration: line-through;
  margin-top: -3px;
  margin-left: 25px;
}
.new-price {
  font-size: 20px;
  font-weight: 600;
  line-height: 28.9px;
  color: #282739;
  margin-top: -13px;
  margin-left: 24px;
}
.trolley-tag {
  float: right;
  margin-top: -63px;
  margin-right: 73px;
  width: 40px;
  height: 40px;
  border: 1.3px solid #EAEBED;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.trolley-tag2 {
  float: right;
  margin-top: -63px;
  margin-right:23px;
  width: 40px;
  height: 40px;
  border: 1.3px solid #EAEBED;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.trolley-icon {
 margin-top: 9px;
}
.trolley-button {
  width: 206px;
  height: 37px;	
  border-radius: 5px;
  margin-left: 25px;
  margin-top: -5px;
  border: none;
  background: #6F73EE;
  cursor: pointer;
 }
 .trolley-button-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  color: #fff;
  margin-top: 10px;
 }
 .section-rsct {
  position: relative;
  padding-top: 0;
  margin-top: 51px;
  padding-bottom: 102px;
}
 .bg-grey {
  width: 1380px;
  background: #F0F2F5;
  height: 445px;
  border-radius: 10px;
  margin-left: 265px;
  margin-top: 100px;
}
.rsct-image {
  position: absolute;
  left: 788px;
  top:-50px;
}
.rsct-form-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-left: 135px;
}
.rsct-form {
  position: relative;
  max-width: 820px;
}
.rsct-form-title {
  margin-top: 88px;
  margin-left: -2px;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  line-height: 50.58px;
  color: #282739;
}
.rsct-form-text {
  margin-top: 34px;
  margin-left: -2px;
  font-size: 15px;
  font-weight: 500;
  line-height: 23.12px;
  color: #282739;
}
.input {
  margin-top: 4px;
  width: 260px;
  height: 53px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.input-button {
  margin-left: 17px;
  width:258px;
  height:55px;
  border-radius: 5px;
  border: none;
  background: #6F73EE;
  cursor: pointer;
}
.input-button-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  color: #fff;
}
.input-checkbox {
  margin-top: 24px;
  margin-left: -1px;
}
.checkbox-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #282739;
  margin-left: 26px;
  margin-top: -21px;
}
span {
  text-decoration: underline;
}
.footer-top {
  margin-top: 100px;
  margin-left: 1px;
}
.footer-bg {
  width: 1440px;
  height: 97px;
  background: #6F73EE;
}
.footer-top-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 26.01px;
  color: #FFFFFF;
  padding-left: 165px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: -2px;
  margin-left: -1px;
}
.footer-top-from {
  display: flex;
  justify-content: center;
  margin-top: -94px;
  margin-left: 401px;
}
.footer-top-input {
  width: 410px;
  height: 53px;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF33;
  padding-left: 25px;
  color: #fff;
  margin-right: 20px;
  outline: none;
}
.footer-button {
  display: flex;
  justify-content: flex-end;
  margin-top: -73px;
  margin-right: -139px;
}
.footer-top-button {
  width: 140px;
  height: 53px;
  border: 1.3px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  margin-top: 20px;
}
.footer-button-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  color: #6F73EE;
  margin-top: 14px;
}
.footer-menu-wrapper {
  margin-left: 166px;
}
.footer-middle {
  display: flex;
  padding-top: 46px;
  padding-bottom: 46px;
  background: #F4F7FB;
  border-bottom: 1px solid #5D6C7B;
}
.footer-menu-title {
  margin-top: 0;
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26.01px;
  color: #282739;
}
.footer-menu-list {
  padding: 0;
  list-style: none;
}
.footer-menu-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  color: #5D6C7B;
  margin-bottom: 10px;
  display: block;
}
.footer-menu-column-2 {
  columns: 2 140px;
}
.footer-menu-column-3 {
  columns: 2 155px;
}
.footer-menu-wrapper2 {
  margin-left: 125px;
}
.footer-menu-wrapper3 {
  margin-left: 67px;
  margin-top: 2px;
}
.footer-link-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  color: #282739;
  margin-top: 1px;
}
.footer-service {
  margin-left: 12px;
}
.phone-link {
  margin-top: -8px;
}
.phone-service {
  margin-top: -8px;
  margin-left: 12px;
}
.footer-phone-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 23.12px;
  color: #282739;
}
.footer-time {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  color: #5D6C7B;
}
.footer-open-time {
  margin-left: 12px;
}
.request-cal {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.34px;
  color: #6F73EE;
  margin-left: 74px;
  margin-top: 6px;
}
.footer-apps {
  background: #F4F7FB;
  border-bottom: 1px solid #5D6C7B;
  padding-top: 50px;
  padding-bottom: 30px;
}
.google-badge {
  margin-top: 20px;
  margin-left: 334px;
}
.apple-badge {
  margin-top: -60px;
  margin-left: 501px;
}
.text-footer {
  margin-top: 38px;
}
.play-apps {
  margin-top: -11px;
  margin-left: 0px;
}
.footer-app-text {
  position: absolute;
  margin-top: -12px;
  margin-left: 165px;
  text-decoration: none;
  font-family: Jost;
  font-size: 30px;
  font-weight: 700;
  line-height: 43.35px;
  color:#282739;
}
.footer-app-link {
  text-decoration: none;
}
.footer-social {
  display: flex;
  justify-content: flex-end;
  margin-right: 156px;
}
.social-icon {
  margin-top: 14px;
  margin-left: 13px;
}
.social-icon2{
  margin-top: 13px;
  margin-left: 10px;
}
.social-icon3 {
  margin-top: 13px;
  margin-left: 3px;
}
.footer-social-link {
  text-decoration: none;
  width: 123px;
  height: 45px;
  border-radius: 5px;
  background: #FFFFFF;
  margin-top: -48px;
  margin-left: 15px;
}
.footer-social-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20.23px;
  color: #282739;
  margin-top: -33px;
  margin-left: 47px;
}
.footer-social-text2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20.23px;
  color: #282739;
  margin-top: -32px;
  margin-left: 41px;
}
.footer-social-text3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20.23px;
  color: #282739;
  margin-top: -32px;
  margin-left: 37px;
}
.followers {
  font-size: 10px;
  font-weight: 400;
  line-height: 14.45px;
  color: #5D6C7B;
  margin-top: -15px;
  margin-left: 47px;
}
.followers2 {
  font-size: 10px;
  font-weight: 400;
  line-height: 14.45px;
  color: #5D6C7B;
  margin-top: -16px;
  margin-left: 42px;
}
.followers3 {
  font-size: 10px;
  font-weight: 400;
  line-height: 14.45px;
  color: #5D6C7B;
  margin-top: -16px;
  margin-left: 36px;
}
.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #F4F7FB;
}
.details-politics {
  margin-top: -12px;
  margin-left: 164px;
}
.details-text {
  text-decoration: none;
  margin-right: 44px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  color: #5D6C7B;
}
.politics-text {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  color: #5D6C7B;
  margin-left: -4px;
}
.payment1 {
  display: flex;
  margin-left: 219px;
  justify-content: center;
  margin-top: -20px;
}
.payment2 {
  display: flex;
  margin-left: 296px;
  justify-content: center;
  margin-top: -27px;
}
.payment3 {
  display: flex;
  margin-left: 373px;
  justify-content: center;
  margin-top: -27px;
}
.payment4 {
  display: flex;
  margin-left: 451px;
  justify-content: center;
  margin-top: -28px;
}
.payment5 {
  display: flex;
  margin-left: 529px;
  justify-content: center;
  margin-top: -28px;
}
.payment6 {
  display: flex;
  margin-left: 608px;
  justify-content: center;
  margin-top: -26px;
}
.payment7 {
  display: flex;
  margin-left: 684px;
  justify-content: center;
  margin-top: -28px;
}
.online-chat {
  display: flex;
  justify-content: flex-end;
  margin-right: 257px;
  margin-top: -41px;
}
.chat-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  color: #282739;
}
.online-chat1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 226px;
  margin-top: -31px;
}
.online-chat2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 196px;
  margin-top: -21px;
}
.online-chat3 {
  display: flex;
  justify-content: flex-end;
  margin-right: 166px;
  margin-top: -20px;
}
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  transition: opacity 0.2s;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-dialog {
  transform: translateY(0);
}
.modal-dialog {
  background-color: #fff;
  margin: auto;
  width: 790px;
  padding: 40px;
  position: relative;
  border-radius: 5px;
  transform: translateY(-5%);
  transition: transform 0.3s;
}
.modal-close {
  display: block;
  position: absolute;
  top: 12px;
  right: 13px;
}
.modal-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  line-height: 36.13px;
  color: #282739;
  margin-top: 0;
}
.modal-text {
  margin-top: -11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #282739;
}
.modal-text2 {
  margin-top: 27px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #282739;
  letter-spacing: -1px;
}
.modal-text3 {
  margin-top: 86px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  color: #5D6C7B;
}
.modal-img {
  position: absolute;
 margin-top: 6px;
  margin-left: 355px;
}
.modal-input {
  margin-top: 6px;
  width: 263px;
  height: 53px;
  border: 1px solid #EAEBED;
  border-radius: 5px;
  outline: none;
}
.modal-input-button {
  margin-left:0px;
  margin-top: 20px;
  width:263px;
  height:53px;
  border-radius: 5px;
  border: none;
  background: #6F73EE;
  cursor: pointer;
}
.modal-input-button-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  color: #fff;
  margin-top: 14px;
}
.modal-input-checkbox {
  margin-top: 20px;
  margin-left: 18px;
}
.modal-checkbox-text {
  width: 200px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #282739;
  margin-left: 45px;
  margin-top: -22px;
}
.pt {
  color: #6F73EE;
} 
@media (max-width:1600px) {
  .test-drive-image {
    margin-left: 161px;
    max-width: 1265px; 
}
}
@media (max-width:1560px) {
  .test-drive-image {
    max-width: 1120px;
  }
  .bg-grey {
    width: 1200px;
    background: #F0F2F5;
    height: 445px;
    border-radius: 10px;
    margin-left: 210px;
    margin-top: 40px;
}
  .header-phone {
    margin-right: 100px;
  }
}
@media (max-width:1485px) {
 

.bg-grey {
  width: 1240px;
  background: #F0F2F5;
  height: 445px;
  border-radius: 10px;
  margin-left: 115px;
  margin-top: 30px;
}
.test-drive-title {
  font-size: 30px;
  left: 45px;
}
.top-info {
  position: relative;
  margin-left: 50px;
}
.test-drive-text {
  left: 45px;
}
.choose-type {
  position: relative;
  margin-left: 30px;
}
.test-drive-button {
  left: 30px;
}
  }
@media (max-width:1440px) {
.shops {
  margin-right: 160px;
}
.header-phone {
  margin-right: 100px;
}
  }
@media (max-width:1415px) {
.shops {
  margin-right: 20px;
}
.test-drive-image {
  margin-top: 40px;
  margin-left: 195px;
  max-width: 1040px;
}
.test-drive-image::after {
  top: 14px;
  height: 420px;
}
}
@media (max-width:1310px) {
.header-phone {
  margin-right: 100px;
}
}
@media (max-width:1275px) {
.search-box input {
  width: 450px;
}
.search-box .search-icon {
  right: 160px;
}
.shops{
  display: flex;
  justify-content: flex-end;
  margin-top: -55px;
  margin-right: 100px;

}
.trolley-text {
  margin-top: 25px;
}
.header-nav {
  margin-left: 300px;
}
.header-phone {
  margin-right: 100px;
}
}
@media (max-width:1250px) {
.header-phone {
  margin-right: 200px; 
}
}
@media (max-width:1200px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    margin-right: 30px; 
  }
  .shops {
    margin-right: 0;
  }
  .test-drive-image {
    margin-left: 90px;
  }
}
  @media (max-width:1120px) {
    .search-catalog {
      margin-top: -30px;
      margin-left: -100px;
  }
    .test-drive-image::after {
      top: 21px;
      height: 403px;
  }
}
  @media (max-width:1080px) {
    .shops {
      display: none;
    }
    .search-box input {
      width: 330px;
      margin-left: -75px;
    }
    .search-box .search-icon {
      right: -45px;
  }
    .test-drive-image {
    max-width: 900px;
    margin-top: -10px;
  }
    .test-drive-image::after {
    top: 40px;
    left: -12px;
    height: 365px;
  }
  .catalog-header-link {
    position: absolute;
    font-size: 25px;
    margin-left: -120px;
    margin-top: -40px;
}
    .catalog-wrapper {
      margin-top: -56px;
      margin-left: 180px;
  }
   
    .catalog-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: -40px;
      margin-left: 35px;
  }
   .catalog-button {
    margin-left: 100px;
  }
   .search-catalog {
      display: flex;
      justify-content: center;
      margin-top: -90px;
      margin-left: -100px;
  }
   .header-nav {
      margin-left: 170px;
  }
   .header-phone {
      margin-left: 170px;
  }
}
  @media (max-width:992px) {
    .header-nav {
      margin-left: 0px;
  }
    .test-drive-image {
      max-width: 800px;
      margin-top: 65px;
  }
    .test-drive-image::after {
      top: 60px;
      left: -30px;
      height: 324px;
  }
    .search-catalog {
      margin-top: -95px;
  }
    .test-drive-title {
      font-size: 22px;
      left: 45px;
      top: 110px;
  }
    .top-info {
      position: relative;
      margin-left: 50px;
      top: 30px;
  }
    .test-drive-text {
      font-size: 17px;
      top: 170px;
      left: 45px;
  }
    .choose-type {
      position: relative;
      margin-left: 30px;
      margin-top: -80px;
  }
    .test-drive-button {
      left: 30px;
      top: 310px;
  }
}
@media (max-width:890px) {
    .test-drive-image {
      max-width: 730px;
  }
    .test-drive-image::after {
      top: 75px;
      left: -30px;
      height: 296px;
  }
  .test-drive-title {
    font-size: 15px;
    left: -10px;
    margin-top: 20px;
  }
  .top-info {
    position: relative;
    margin-left: -11px;
    top: 35px;
  }
  .test-drive-text {
    font-size: 15px;
    top: 158px;
    left: -11px;
  }
  .choose-type {
    position: relative;
    margin-left: -11px;
    top: -35px;
  }
  .test-drive-button {
    left: -8px;
    top: 290px;
    width: 130px;
    height: 40px;
  }
  .test-button-text {
    top: -10px;
  }
}
  @media (max-width:830px) {
  .test-drive-image {
    margin-left: 50px;
  }
}
  @media (max-width:765px) {
    .navbar-header-link {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }
    .header-nav {
      display: none;
    }
    .mobile-menu-toggle {
      width: 80px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1.6rem;
      border-right: 1px solid #ecf3ff;
      flex-shrink: 0;
    }
    .mobile-menu-line {
      height: 1px;
      background-color: #0e0d0d;
      width: 100%;
    }
  }
  @media (max-width:782px) {
    .test-drive-image {
      max-width: 680px;
    }
    .test-drive-image::after {
      top: 86px;
      left: -30px;
      height: 275px;
  }
  }
  @media (max-width:730px) {
    .search-catalog {
      margin-top: -70px;
    }
    .test-drive-image {
      max-width: 540px;
      margin-left: 90px;
      margin-top: -80px;
    }
    .test-drive-image::after {
      top: 113px;
      left: -30px;
      height: 221px;
    }
    .top-info {
      position: relative;
      margin-left: -11px;
      margin-top: 55px;
      top: 75px;
    }
    .test-drive-title {
      font-size: 13px;
      left: -11px;
      margin-top: 50px;
    }
    .test-drive-text {
      font-size: 13px;
      top: 175px;
      left: -11px;
    }
    .test-drive-button {
      left: -8px;
      top: 280px;
      width: 130px;
      height: 40px;
    }
    .choose-type {
      position: relative;
      margin-left: -11px;
      margin-top: -111px;
    }
  }
  @media (max-width:630px) {
    .header-phone-link {
      display: none;
    }
    .header-phone-icon {
      display: block;
      margin-top: -15px;
    }
    .test-drive-image {
      max-width: 500px;
      margin-left: 65px;
      margin-top: -80px;
    }
    .test-drive-image::after {
      top: 123px;
      left: -30px;
      height: 202px;
    }
    .test-drive-button {
      top: 265px;
    }
    .choose-type {
      position: relative;
      margin-left: -11px;
      top: -46px;
    }
  }
  @media (max-width:566px) {
    .header-phone-icon {
      display: block;
      margin-top: -15px;
      margin-left: -66px;
    }
    .test-drive-image {
      max-width: 470px;
      margin-left: 50px;
      margin-top: -145px;
    }
    .test-drive-image::after {
      top: 128px;
      left: -30px;
      height: 190px;
    }
  }
  @media (max-width:515px) {
    .test-drive-image {
      max-width: 415px;
      margin-left: 50px;
      margin-top: -145px;
    }
    .test-drive-image::after {
      top: 140px;
      left: -30px;
      height: 167px;
    }
    .test-drive-button {
      left: -8px;
      top: 272px;
      width: 90px;
      height: 25px;
    }
    .test-button-text {
      top: -15px;
      font-size: 14px;
    }
    .icon-text, .icon-text2 {
      font-size: 11px;
    }
    .choose-type {
     display: none;
    }
    .test-drive-title {
      font-size: 10px;
      left: -11px;
      margin-top: 85px;
    }
    .type2 {
      left: 190px;
    }
    .type-icon2 {
      left: 202px;
    }
    .icon-text2 {
      left: 240px;
    }
    .test-drive-text {
      font-size: 13px;
      top: 215px;
      left: -11px;
    }
    .top-info {
      position: relative;
      margin-left: -11px;
      margin-top: 55px;
      top: 100px;
    }
    .test-drive-image::after {
      background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 100%);  
    }
    .search-catalog {
      margin-left: -40px;
    }
    .header-phone-icon {
      display: block;
      margin-top: -15px;
      margin-left: -65px;
    }
    .navbar-header-link {
      font-size: 18px;
      margin-left: 150px;
  }
  }
  @media (max-width:460px) {
    .test-drive-image {
      max-width: 332px;
      margin-left: 45px;
      margin-top: -115px;
    }
    .test-drive-image::after {
      top: 155px;
      left: -30px;
      height: 136px;
    }
    .top-info {
      display: none;
    }
    .test-drive-title {
      font-size: 10px;
      left: -11px;
      margin-top: 65px;
    }
    .test-drive-text {
      font-size: 13px;
      top: 195px;
      left: -11px;
    }
    .test-drive-button {
      left: -8px;
      top: 250px;
      width: 90px;
      height: 25px;
    }
    .navbar-header-link {
      font-size: 18px;
      margin-left: 105px;
    }
    .header-phone-icon {
      display: none;
    }
  }
  @media (max-width:385px) {
    .search-catalog {
      margin-left: 0px;
    }
    .navbar-header-link {
      font-size: 18px;
      margin-left: 75px;
    }
  }
<section class="scooter-type">
  <div class="container">
    <img src="./img/MaskGroup.png" alt="" class="scooter-type-img">
    <h1 class="scooter-type-title">
      Определите максимально<br> подходящую вам модель<br> не теоретически, а на практике
    </h1>
    <!-- /.scooter-type title -->
     <p class="scooter-type-subtitle"><b>Тест-драйв поможет:</b></p>
     <!-- /.scooter-type-subtitle -->
     <ul class="test-drive-help">
      <li class="help-list">
        <svg class="check-icon"  width="22" height="22">
        <use href="img/sprite.svg#check">
        </use></svg>
        <b>Понять</b> подходит ли вам конкретная модель;
      </li>
      <li class="help-list">
        <svg class="check-icon"  width="22" height="22">
        <use href="img/sprite.svg#check">
        </use></svg>
        <b>Испытать</b> самокат в «реальной жизни»;
      </li>
      <li class="help-list">
        <svg class="check-icon"  width="22" height="22">
        <use href="img/sprite.svg#check">
        </use></svg>
        <b>Оценить</b> удобство хранения и эксплуатации;
      </li>
      <li class="help-list">
        <svg class="check-icon"  width="22" height="22">
        <use href="img/sprite.svg#check">
        </use></svg>
        <b>Узнать</b> реальные характеристики и возможности модели.
      </li>
    </ul>
     <!-- /.test-drive-help -->
  </div>
  <!-- /.container -->
 </section>
 <!-- /.scooter-type -->
  
 <section class="scooter-safety">
  <div class="container">
    <img src="./img/safety.png" alt="" class="scooter-safety-img">
    <h1 class="scooter-safety-title">
      Научим правильной <br>и безопасной езде в городе<br> вас или вашего ребенка
    </h1>
    <!-- /.scooter-type title -->
     <p class="scooter-safety-subtitle"><b>На обучении специалист расскажет:</b></p>
     <!-- /.scooter-type-subtitle -->
     <ul class="safety-drive-help">
      <li class="safety-list">
        <svg class="check-icon"  width="22" height="22">
        <use href="img/sprite.svg#check">
        </use></svg>
        Как подготовить самокат к поездке;
      </li>
      <li class="safety-list">
        <svg class="check-icon"  width="22" height="22">
        <use href="img/sprite.svg#check">
        </use></svg>
        Как «завести» самокат;
      </li>
      <li class="safety-list">
        <svg class="check-icon"  width="22" height="22">
        <use href="img/sprite.svg#check">
        </use></svg>
        Как вести себя во время поездки и обезопасить себя и окружающих;
      </li>
      <li class="safety-list">
        <svg class="check-icon"  width="22" height="22">
        <use href="img/sprite.svg#check">
        </use></svg>
        Как складывать и раскладывать электросамокат;
      </li>
      <li class="safety-list">
        <svg class="check-icon"  width="22" height="22">
        <use href="img/sprite.svg#check">
        </use></svg>
        Как ухаживать за своим девайсом.
      </li>
    </ul>
     <!-- /.test-drive-help -->
  </div>
  <!-- /.container -->
 </section>
 <!-- /.scooter-type -->
<section class="available-scooters">
  <div class="container">
    <h2 class="available-scooters-title">
      Сейчас для тест-драйва и обучения<br> доступны следующие модели
    </h2> <!-- /.h2 available-scooters-title -->
    <div class="scooter-cards">
      <div class="card">
        <img class="card-image" src="img/scooter.jpg" alt="">
       <div class="product">
        <p class="product-text">ХИТ</p>
       </div>
        <div class="card-elipse">
          <img src="img/scale.png" alt="" class="card-icon">
        </div>
        <h3 class="card-title">Kugoo Kirin M4</h3>
        <ul class="card-list">
          <li class="list-item">
            <svg class="card-list-icon1"  width="18" height="18">
            <use href="img/sprite.svg#battery">
            </use>
          </svg>
          <p class="card-list-text1">2000 mAh</p>
          </li>
          <li class="list-item">
            <svg class="card-list-icon2"  width="18" height="18">
            <use href="img/sprite.svg#speed">
            </use>
          </svg>
          <p class="card-list-text2">60 км/ч</p>
        </li>
          <li class="list-item">
            <svg class="card-list-icon3"  width="18" height="18">
            <use href="img/sprite.svg#light-grey">
            </use>
          </svg>
          <p class="card-list-text3">1,2 л.с.</p>
        </li>
          <li class="list-item">
            <svg class="card-list-icon4"  width="18" height="18">
            <use href="img/sprite.svg#time">
            </use>
          </svg>
          <p class="card-list-text4">5 часов</p>
        </li>
        </ul>
        <div class="price-tag">
          <p class="old-price">39 900 ₽</p>
        <p class="new-price">29 900 ₽</p>
        </div><!-- /.proce-tag-->
        <a href="#" class="trolley-tag">
          <svg class="trolley-icon"  width="20" height="20">
            <use href="img/sprite.svg#basket">
            </use>
          </svg>
        </a><!-- /.trolley-tag-->
        <a href="#" class="trolley-tag2">
          <svg class="trolley-icon"  width="20" height="20">
            <use href="img/sprite.svg#card-hearth">
            </use>
          </svg>
        </a><!-- /.trolley-tag2-->
        <button class="trolley-button" data-toggle="modal"><p class="trolley-button-text">
          Записаться на тест-драйв
        </p>
      </button><!-- /.trolley-button-->
      </div>
      <!-- /.card -->
      <div class="card">
        <img class="card-image" src="img/scooter.jpg" alt="">
        <div class="product2">
          <p class="product-text2">Новинка</p>
        </div>
        <div class="card-elipse">
          <img src="img/scale.png" alt="" class="card-icon">
        </div>
        <h3 class="card-title">Kugoo Kirin M4</h3>
        <ul class="card-list">
          <li class="list-item">
            <svg class="card-list-icon1"  width="18" height="18">
            <use href="img/sprite.svg#battery">
            </use>
          </svg>
          <p class="card-list-text1">2000 mAh</p>
          </li>
          <li class="list-item">
            <svg class="card-list-icon2"  width="18" height="18">
            <use href="img/sprite.svg#speed">
            </use>
          </svg>
          <p class="card-list-text2">60 км/ч</p>
        </li>
          <li class="list-item">
            <svg class="card-list-icon3"  width="18" height="18">
            <use href="img/sprite.svg#light-grey">
            </use>
          </svg>
          <p class="card-list-text3">1,2 л.с.</p>
        </li>
          <li class="list-item">
            <svg class="card-list-icon4"  width="18" height="18">
            <use href="img/sprite.svg#time">
            </use>
          </svg>
          <p class="card-list-text4">5 часов</p>
        </li>
        </ul>
        <div class="price-tag">
          <p class="old-price">39 900 ₽</p>
        <p class="new-price">29 900 ₽</p>
        </div><!-- /.proce-tag-->
        <a href="#" class="trolley-tag">
          <svg class="trolley-icon"  width="20" height="20">
            <use href="img/sprite.svg#basket">
            </use>
          </svg>
        </a><!-- /.trolley-tag-->
        <a href="#" class="trolley-tag2">
          <svg class="trolley-icon"  width="20" height="20">
            <use href="img/sprite.svg#card-hearth">
            </use>
          </svg>
        </a><!-- /.trolley-tag2-->
        <button class="trolley-button" data-toggle="modal"><p class="trolley-button-text">
          Записаться на тест-драйв
        </p>
      </button><!-- /.trolley-button-->
      </div>
      <!-- /.card -->
      <div class="card">
        <img class="card-image" src="img/scooter.jpg" alt="">
        <div class="product">
          <p class="product-text3">ХИТ</p>
        </div>
        <div class="card-elipse">
          <img src="img/scale.png" alt="" class="card-icon">
        </div>
        <h3 class="card-title">Kugoo Kirin M4</h3>
        <ul class="card-list">
          <li class="list-item">
            <svg class="card-list-icon1"  width="18" height="18">
            <use href="img/sprite.svg#battery">
            </use>
          </svg>
          <p class="card-list-text1">2000 mAh</p>
          </li>
          <li class="list-item">
            <svg class="card-list-icon2"  width="18" height="18">
            <use href="img/sprite.svg#speed">
            </use>
          </svg>
          <p class="card-list-text2">60 км/ч</p>
        </li>
          <li class="list-item">
            <svg class="card-list-icon3"  width="18" height="18">
            <use href="img/sprite.svg#light-grey">
            </use>
          </svg>
          <p class="card-list-text3">1,2 л.с.</p>
        </li>
          <li class="list-item">
            <svg class="card-list-icon4"  width="18" height="18">
            <use href="img/sprite.svg#time">
            </use>
          </svg>
          <p class="card-list-text4">5 часов</p>
        </li>
        </ul>
        <div class="price-tag">
          <p class="old-price">39 900 ₽</p>
        <p class="new-price">29 900 ₽</p>
        </div><!-- /.proce-tag-->
        <a href="#" class="trolley-tag">
          <svg class="trolley-icon"  width="20" height="20">
            <use href="img/sprite.svg#basket">
            </use>
          </svg>
        </a><!-- /.trolley-tag-->
        <a href="#" class="trolley-tag2">
          <svg class="trolley-icon"  width="20" height="20">
            <use href="img/sprite.svg#card-hearth">
            </use>
          </svg>
        </a><!-- /.trolley-tag2-->
        <button class="trolley-button" data-toggle="modal"><p class="trolley-button-text">
          Записаться на тест-драйв
        </p>
      </button><!-- /.trolley-button-->
      </div>
      <!-- /.card -->
      <div class="card">
        <img class="card-image" src="img/scooter.jpg" alt="">
        <div class="product2">
          <p class="product-text4">Новинка</p>
        </div>
        <div class="card-elipse">
          <img src="img/scale.png" alt="" class="card-icon">
        </div>
        <h3 class="card-title">Kugoo Kirin M4</h3>
        <ul class="card-list">
          <li class="list-item">
            <svg class="card-list-icon1"  width="18" height="18">
            <use href="img/sprite.svg#battery">
            </use>
          </svg>
          <p class="card-list-text1">2000 mAh</p>
          </li>
          <li class="list-item">
            <svg class="card-list-icon2"  width="18" height="18">
            <use href="img/sprite.svg#speed">
            </use>
          </svg>
          <p class="card-list-text2">60 км/ч</p>
        </li>
          <li class="list-item">
            <svg class="card-list-icon3"  width="18" height="18">
            <use href="img/sprite.svg#light-grey">
            </use>
          </svg>
          <p class="card-list-text3">1,2 л.с.</p>
        </li>
          <li class="list-item">
            <svg class="card-list-icon4"  width="18" height="18">
            <use href="img/sprite.svg#time">
            </use>
          </svg>
          <p class="card-list-text4">5 часов</p>
        </li>
        </ul>
        <div class="price-tag">
          <p class="old-price">39 900 ₽</p>
        <p class="new-price">29 900 ₽</p>
        </div><!-- /.proce-tag-->
        <a href="#" class="trolley-tag">
          <svg class="trolley-icon"  width="20" height="20">
            <use href="img/sprite.svg#basket">
            </use>
          </svg>
        </a><!-- /.trolley-tag-->
        <a href="#" class="trolley-tag2">
          <svg class="trolley-icon"  width="20" height="20">
            <use href="img/sprite.svg#card-hearth">
            </use>
          </svg>
        </a><!-- /.trolley-tag2-->
        <button class="trolley-button" data-toggle="modal"><p class="trolley-button-text">
          Записаться на тест-драйв
        </p>
      </button><!-- /.trolley-button-->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.scooter-cards -->
  </div> <!-- /.container-->
 
</section>
<!-- /.available-scooters -->
 <section class="rsct">
  <div class="bg-grey section-rsct">
    <img src="img/form-img.png" alt="cta" class="rsct-image">
    <div class="rsct-form-wrapper container">
      <form action="#" class="rsct-from">
        <h2 class="rsct-form-title">Нет нужной модели, которую<br> хотите протестировать?</h2>
        <!-- /.rsct-form-title -->
         <p class="rsct-form-text"><b>Оставьте заявку, и менеджер подберет нужный самокат</b></p>
         <div class="input-group-wrapper">
          <div class="input-group">
            <input 
            id="" 
            type="tel"
            name="userphone"
            class="input phone-mask" 
            placeholder=" "
            maxlength="30"
            required
            />
            <button class="input-button"><p class="input-button-text">Оставить заявку на тест-драйв</p></button>
          </div> <!-- /.input-group -->
          <div class="checkbox">
            <input class="input-checkbox" type="checkbox">
            <p class="checkbox-text">Нажимая на кнопку, вы соглашаетесь на обработку<br> персональных данных и <span>политикой конфиденциальности</span></p>
          </div>
          <!-- /.checkbox -->
         </div>
         <!-- /.input-group-wrapper -->
      </form>
      <!-- /.rsct-from -->
    </div>
  </div>
  <!-- /.bg-grey -->
 </section>
 <!-- /.rsct -->
  <footer class="footer">
    <div class="container">
      <div class="footer-top">
        <div class="footer-bg">
          <h2 class="footer-top-title">Оставьте свою почту и станьте первым,<br> кто получит скидку на новые самокаты</h2>
          <form action="#" class="footer-top-from">
            <!-- /.rsct-form-title -->
             <div class="footer-group-wrapper">
              <div class="footer-group">
                <input 
                id="" 
                type="email"
                name=""
                class="footer-top-input" 
                placeholder="Введите Ваш email"
                maxlength="30"
                required
                />
                <div class="footer-button">
                  <button class="footer-top-button"><p class="footer-button-text">Подписаться</p></button>
                </div>
                <!-- /.footer-button -->
              </div>
        
              <!-- /.input-group -->
             </div>
             <!-- /.input-group-wrapper -->
          </form>
        </div>
        <!-- /.footer-bg -->
      </div>
      <!-- /.footer-top -->
    </div><!-- /.container -->
    <div class="container">
      <div class="footer-middle">
        <div class="footer-menu-wrapper">
          <h2 class="footer-menu-title">Каталог товаров</h2>
          <ul class="footer-menu-list">
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Электросамокаты</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Электроскутеры</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Электровелосипеды</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Электровелосипеды</a>
            </li>
          </ul>
        </div>
        <!-- /.footer-menu-wrapper -->
        <div class="footer-menu-wrapper2">
          <h2 class="footer-menu-title">Покупателям</h2>
          <ul class="footer-menu-list footer-menu-column-2">
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Сервисный центр</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Доставка и оплата</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Рассрочка</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Тест-драйв</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Блог</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Сотрудничество</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Контакты</a>
            </li>
            <li class="footer-menu-item">
              <a href="#" class="footer-menu-link">Акции</a>
            </li>
          </ul>
        </div>
        <!-- /.footer-menu-wrapper2 -->
        <div class="footer-menu-wrapper3">
          <h2 class="footer-menu-title">Контакты</h2>
          <ul class="footer-menu-list footer-menu-column-3">
            <li class="footer-menu-item">
              <p class="footer-link-text">Call-центр</p>
              <div class="phone-link">
                <a href="tel:+78005055461" class="footer-phone-link">
                  +7 (800) 505-54-61
                </a>
              </div>
              <p class="footer-time">Пн-Вс 10:00 - 20:00</p>
            </li>
            <li class="footer-menu-item">
              <div class="footer-service">
                <p class="footer-link-text">Сервисный центр</p>
              </div>
             <div class="phone-service">
              <a href="tel:+78005055461" class="footer-phone-link">
                +7 (499) 350-76-92
              </a>
             </div>
              <div class="footer-open-time">
                <p class="footer-time">Пн-Вс 10:00 - 20:00</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- /.footer-menu-wrapper3 -->
        <a href="#" class="request-cal">Заказать звонок</a>
      </div>
      <!-- /.footer-middle -->
    </div>
    <!-- /.container -->
     <div class="container">
      <div class="footer-apps">
        <a href="/index.html" class="footer-app-text">
          KUGOO
        </a>
        <div class="play-apps">
          <div class="google-badge">
            <a class="google" href='https://play.google.com/store/apps/details?id=com.stagescycling.stages'><img style="width:164px;margin-top:-30px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
            </a>
          </div>

          <div class="apple-badge">
            <a class="apple" href="https://apps.apple.com/app/id1551353775" style="display: inline-block; overflow: hidden; border-radius: 40px; width: 135px; height: 45px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1276560000&h=7e7b68fad19738b5649a1bfb78ff46e9" alt="Download on the App Store" style="border-radius: 15px; width: 135px; height: 45px;">
            </a>
          </div>
        </div>
        <div class="footer-social">
          <a href="#" class="footer-social-link">
            <svg class="social-icon"  width="20" height="20">
              <use href="img/sprite.svg#vk">
              </use>
            </svg>
            <p class="footer-social-text">Вконтакте</p>
            <P class="followers">3 300</P>
          </a>
          <a href="#" class="footer-social-link">
            <svg class="social-icon2"  width="20" height="20">
              <use href="img/sprite.svg#youtube">
              </use>
            </svg>
            <p class="footer-social-text2">YouTube</p>
            <P class="followers2">3 603</P>
          </a>
          <a href="#" class="footer-social-link">
            <svg class="social-icon3"  width="20" height="20">
              <use href="img/sprite.svg#tb">
              </use>
            </svg>
            <p class="footer-social-text3">Telegram</p>
            <P class="followers3">432</P>
          </a>
         </div>
         <!-- /.footer-social -->
      </div>
      <!-- /.footer-apps -->
     </div>
     <!-- /.container -->
      <div class="container">
        <div class="footer-bottom">
          <div class="details-politics">
            <a href="#" class="details-text">Реквизиты</a>
            <a href="#" class="politics-text">Политика конфиденциальности</a>
          </div>
          <!-- /.details-politics -->
           
            <div class="payment1">
              <a href="#" class="payment-method">
                <svg class="payment-icon"  width="34" height="23">
                  <use href="img/sprite.svg#Gpay">
                  </use>
                </svg>
              </a>
            </div>
            <div class="payment2">
              <a href="#" class="payment-method">
                <svg class="payment-icon2"  width="34" height="23">
                  <use href="img/sprite.svg#Apay">
                  </use>
                </svg>
              </a>
            </div>
            <div class="payment3">
              <a href="#" class="payment-method">
                <svg class="payment-icon3"  width="34" height="23">
                  <use href="img/sprite.svg#visa">
                  </use>
                </svg>
              </a>
            </div>
           <div class="payment4">
            <a href="#" class="payment-method">
              <svg class="payment-icon4"  width="34" height="23">
                <use href="img/sprite.svg#master">
                </use>
              </svg>
            </a>
           </div>
            <div class="payment5">
              <a href="#" class="payment-method">
                <svg class="payment-icon5"  width="34" height="23">
                  <use href="img/sprite.svg#mastercard">
                  </use>
                </svg>
              </a>
            </div>
            <div class="payment6">
              <a href="#" class="payment-method">
                <svg class="payment-icon6"  width="34" height="23">
                  <use href="img/sprite.svg#webmoney">
                  </use>
                </svg>
              </a>
            </div>
           <div class="payment7">
            <a href="#" class="payment-method">
              <svg class="payment-icon7"  width="34" height="23">
                <use href="img/sprite.svg#Q">
                </use>
              </svg>
            </a>
           </div>
           <!-- /.payment -->
            <div class="online-chat">
              <p class="chat-text">Online чат:</p>
            </div>
            <!-- /.online-chat -->
             <div class="online-chat1">
              <a href="#" class="online-chat-link">
                <svg class="online-chat-icon"  width="16" height="16">
                  <use href="img/sprite.svg#vg">
                  </use>
                </svg>
             </div>
             <div class="online-chat2">
            </a>
            <a href="#" class="online-chat-link">
              <svg class="online-chat-icon"  width="16" height="16">
                <use href="img/sprite.svg#wg">
                </use>
              </svg>
            </a>
             </div>
             <div class="online-chat3">
              <a href="#" class="online-chat-link">
                <svg class="online-chat-icon"  width="16" height="16">
                  <use href="img/sprite.svg#tg">
                  </use>
                </svg>
              </a>
             </div>
        </div><!-- /.footer-bottom -->
      </div>
      <!-- /.container -->
  </footer>
  <div class="modal">
    <div class="modal-dialog">
      <img src="/img/modal-img.png" alt="" class="modal-img">
      <h2 class="modal-title">Запишитесь<br> натест-драйв<br> электросамоката</h2>
      <a href="" class="modal-close">
        <svg class="close-icon"width="30" height="30">
          <use href="img/sprite.svg#close">
          </use>
        </svg>
      </a>
      <p class="modal-text">и подберите модель для себя</p>
      <p class="modal-text2">Менеджер свяжется с вами в течение 5 минут,<br> чтобы согласовать время.</p>
      <p class="modal-text3">Как с вами удобнее связаться?</p>
      
      <form action="#" class="modal-form">
        <div class="input-group-wrapper">
          <div class="input-group">
            <input 
            id="" 
            type="tel"
            name="userphone"
            class="modal-input phone-mask" 
            placeholder=" "
            maxlength="30"
            required
            />
            
          </div> <!-- /.input-group -->
          <button class="modal-input-button"><p class="modal-input-button-text">Оформить предзаказ</p></button>
          <div class="modal-checkbox">
            <input class="modal-input-checkbox" type="checkbox">
            <p class="modal-checkbox-text">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и <span class="pt">политикой конфиденциальности</span></p>
          </div>
          <!-- /.checkbox -->
         </div>
         <!-- /.input-group-wrapper -->
      </form>
      
    </div>
   
  </div>
  <!-- /.footer -->